$blue:#0C163B;
$thelet:#B3CFFB;
$red: #d20000;

$borderRadius:10px;
$boxShadow:0 0 7px rgba(0,0,0,0.1);

$largeDeviceWidth : 75em; /*1200*/
$smallDeviceWidth : 48em; /*768*/
$xsmallDevicewidth : 36em; /*576*/

